{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <h1>Upload a Proposal</h1>
        <p>Fill in all information of a project right here</p>
        <div class="row">
            <div class="col-md-6 col-xs-12">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    {% for field in form %}

                        <div class="form-group">
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <input class="form-control" id="{{ field.id_for_label }}" maxlength="30"
                                   name="{{ field.html_name }}"
                                    {% if field.value %}
                                   placeholder="{{ field.value }}"
                                   {% else %}
                                   placeholder="{{ field.name }}"
                                    {% endif %}
                                   type="{{ field.field.widget.input_type }}"/>
                            {{ field.errors }}
                        </div>

                    {% endfor %}
                    <button type="submit" class="btn btn-pill btn-wide btn-primary my-2">Submit</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
