{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="text-center text-white masthead"
            style="background:url({% static 'img/westernBackground.jpg' %})no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="container py-3 py-md-5">
                    <h1 class="hero__title mb-2 display-1">Thornton Biology Research Program Database</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form name="myform" method="GET" action="{% url 'SearchRequest' %}">
                        <div class="row">
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Search by author name or project name"/>
                        </div>
                        <button type="submit" id="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section>
    <div class="tabs mb-4"><ul class="nav nav-tabs mb-3 mb-md-5" id="myTab" rol="tablist"><li class="nav-item"><a class="nav-link" id="tab-6254cc9146575" href="#tab-content-6254cc9146575" data-toggle="tab" role="tab" aria-controls="tab-content-6254cc9146575" aria-selected="false">Overview</a></li><li class="nav-item"><a class="nav-link active" id="tab-6254cc914657a" href="#tab-content-6254cc914657a" data-toggle="tab" role="tab" aria-controls="tab-content-6254cc914657a" aria-selected="true" style="">Funding Requests</a></li></ul><!-- .nav-tabs --><div class="tab-content" id="myTabContent"><div class="tab-pane fade" id="tab-content-6254cc9146575" role="tabpanel" aria-labelledby="tab-6254cc9146575"><p></p>
<p>In&nbsp;<strong>student-directed projects</strong>, students write research proposals on topics of their interest in collaboration with biology faculty members who have expertise in the topic. The student may request a Thornton Research Award of up to $3,000. In addition, they may request funds for equipment, supplies and related travel.</p>
<p>In&nbsp;<strong>faculty-directed projects</strong>, professors typically write the research proposals, and students are eligible for a Thornton Research Assistantship. These projects are generally tied to the primary research program of the faculty member and provide students with an opportunity to learn about science and the specific topic of the study. Oftentimes, student-directed projects will grow out of faculty-led ones.</p>
<p>To get involved, students should&nbsp;discuss research ideas&nbsp;with a Biology faculty member.</p>
<h2>Learn More</h2>
<p>Reach out to&nbsp;<a href="https://western.edu/people/derek-d-houston-phd/">Derek D. Houston, Ph.D.</a>&nbsp;for more information.</p>
<p></p></div><div class="tab-pane fade active show" id="tab-content-6254cc914657a" role="tabpanel" aria-labelledby="tab-6254cc914657a"><p></p>
<ul>
<li>Requests for project funding are accepted by the Thornton Biology Research Committee in a no-deadline submission process (i.e. a rolling deadline).</li>
<li>A proposal includes the Thornton Research Grants Program Funding Request (see below) and a full grant proposal written in scientific style, including a title, author byline, author affiliations, abstract, introduction, methods (including study area if appropriate), expected results, literature cited, a budget (including contributions from other sources and in-kind contributions) with a rationale, a timeline for the project&nbsp;and student transcripts if relevant.</li>
<li>Submit a proposal above and the committee will review your project and approve it in one to three weeks</li>
<li>After approval, applicants must submit a signed hard copy of the proposal to the Thornton program director</li>
<li>Please note that students may receive a stipend for a funded proposal, or may conduct research funded by Thornton for research credits (e.g., senior thesis), but may not receive both simultaneously.</li>
</ul>
<p><a class="internal-link" title="Thornton Undergraduate Research Policies and Criteria" href="https://western.edu/wp-content/uploads/2020/10/Research-Policies-and-Criteria.pdf" target="_blank" rel="noopener noreferrer">Thornton Undergraduate Research Policies and Criteria</a>&nbsp;(pdf)</p>
<p><a href="https://western.edu/wp-content/uploads/2020/10/Thornton-Grant-Proposal-Cover-page.7_May_2019.pdf">Thornton Research Grants Program Project Funding Request&nbsp;</a>(pdf)</p>
<p></p></div></div><!-- .tab-content --></div>
    </section>

    <!--<section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-envelope-letter m-auto text-primary"
                                                                   data-bss-hover-animate="pulse"></i></div>
                        <h3>Submit your proposal</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-cloud-upload m-auto text-primary"
                                                                   data-bss-hover-animate="pulse"></i></div>
                        <h3>Upload project data</h3>
                        <p class="lead mb-0">Upon approval</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-chemistry m-auto text-primary"
                                                                   data-bss-hover-animate="pulse"></i></div>
                        <h3>Share your findings</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img"
                     style="background-image:url({% static 'img/sc1.jpg' %});"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>This thing is responsive?</h2>
                    <p class="lead mb-0">That's pretty cool</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img"
                     style="background-image:url({% static 'img/sc2.jpg' %});"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Bootstrap allows for it</h2>
                    <p class="lead mb-0">Wow</p>
                </div>
            </div>
        </div>
    </section>-->
{% endblock %}
