{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="text-center text-white masthead" style="background:url({% static 'img/westernBackground.jpg' %})no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="container py-3 py-md-5">
                    <h1 class="hero__title mb-2 display-1">Thornton Biology Research Program Database</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form name="myform" method="GET" action="{% url 'SearchRequest' %}">
                        <div class="row">
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Search by author name or project name"/>
                        </div>
                        <button type="submit" id="btn btn-primary">Search</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
        <section>
            <div class="container py-3 py-md-5">
                <h2>Thornton Biology Research Program Database</h2>
<p>The Thornton Biology Research Program gives undergraduate students the opportunity to work with faculty on funded, original research. The program also delivers teaching release time for faculty, allowing professors to focus on their own research and support students’ projects.</p>
<div class="tabs mb-4"><ul class="nav nav-tabs mb-3 mb-md-5" id="myTab" rol="tablist"><li class="nav-item"><a class="nav-link active" id="tab-625703ca544af" href="#tab-content-625703ca544af" data-toggle="tab" role="tab" aria-controls="tab-content-625703ca544af" aria-selected="true">Overview</a></li>
    <div class="tab-content" id="myTabContent"><div class="tab-pane fade show active" id="tab-content-625703ca544af" role="tabpanel" aria-labelledby="tab-625703ca544af"></p>
<p>In <strong>student-directed projects</strong>, students write research proposals on topics of their interest in collaboration with biology faculty members who have expertise in the topic. The student may request a Thornton Research Award of up to $3,000. In addition, they may request funds for equipment, supplies and related travel.</p>
<p>In <strong>faculty-directed projects</strong>, professors typically write the research proposals, and students are eligible for a Thornton Research Assistantship. These projects are generally tied to the primary research program of the faculty member and provide students with an opportunity to learn about science and the specific topic of the study. Oftentimes, student-directed projects will grow out of faculty-led ones.</p>
<p>To get involved, students should discuss research ideas with a Biology faculty member.</p>
<h2>Learn More</h2>
<p>Reach out to <a href="https://western.edu/people/derek-d-houston-phd/">Derek D. Houston, Ph.D.</a> for more information.</p>
    </div></div></ul></div></div></section>
{% endblock %}
