{% extends 'base.html' %}
{% load static %}
{% block content %}
    <header class="text-center text-white masthead"
            style="background:url('{% static 'img/bg-masthead.png' %}')no-repeat center center;background-size:cover;">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto position-relative">
                    <h1 class="mb-5">Western Research Database</h1>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto position-relative">
                    <form name="myform" method="GET" action="{% url 'SearchRequest' %}">
                        <div class="row">
                            {% csrf_token %}
                            <input type="text" name="search" placeholder="Search"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </header>
    <section class="text-center bg-light features-icons">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-envelope-letter m-auto text-primary"
                                                                   data-bss-hover-animate="pulse"></i></div>
                        <h3>Submit your proposal</h3>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-cloud-upload m-auto text-primary"
                                                                   data-bss-hover-animate="pulse"></i></div>
                        <h3>Upload project data</h3>
                        <p class="lead mb-0">Upon approval</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="mx-auto features-icons-item mb-5 mb-lg-0 mb-lg-3">
                        <div class="d-flex features-icons-icon"><i class="icon-chemistry m-auto text-primary"
                                                                   data-bss-hover-animate="pulse"></i></div>
                        <h3>Share your findings</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="showcase">
        <div class="container-fluid p-0">
            <div class="row g-0">
                <div class="col-lg-6 text-white order-lg-2 showcase-img"
                     style="background-image:url({% static 'img/sc1.jpg' %});"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>This thing is responsive?</h2>
                    <p class="lead mb-0">That's pretty cool</p>
                </div>
            </div>
            <div class="row g-0">
                <div class="col-lg-6 text-white showcase-img"
                     style="background-image:url({% static 'img/sc2.jpg' %});"><span></span></div>
                <div class="col-lg-6 my-auto order-lg-1 showcase-text">
                    <h2>Bootstrap allows for it</h2>
                    <p class="lead mb-0">Wow</p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
