{% extends 'base.html' %}
{% block content %}
    <div id="container">
        <h1>My Proposals</h1>
        {% if errors %}
            <ul>
                <li>{{ errors }}</li>
            </ul>
        {% endif %}
        <table>
            <thead>
            <tr>
                <th>Pending</th>
                <th>Description</th>
                <th>Proposal File</th>
            </tr>
            </thead>
            <tbody>
            {% for item in pending %}
                <tr>
                    <td>{{ item.projectTitle }}</td>
                    <td>{{ item.projectDescription }}</td>
                    <td><a href="{{ item.proposalFile.url }}">
                        <button type="button">Download</button>
                    </a></td>
                </tr>
            {% endfor %}
            </tbody>
            <thead>
            <tr>
                <th>Accepted</th>
                <th>Project Description</th>
                <th>General project files</th>
                <th>Data Files</th>
                <th>Result Files</th>
            </tr>
            </thead>
            <tbody>
            {% for item in accepted %}
                <tr>
                    <td><a href="/projectdetail?id={{ item.id }}">{{ item.projectTitle }}</a></td>
                    <td>{{ item.projectDescription }}</td>
                    <td><a href="{{ item.proposalFile.url }}" download="{{ item.proposalFile.url }}">
                        <a href="/dataFiles?title={{ item.projectTitle }}">Download Data</a>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <input type="hidden" name="type" value="0">
                            <button type="submit">submit</button>
                        </form>
                    </a>
                    </td>
                    <td>
                        <a href="/dataFiles?title={{ item.projectTitle }}">Download Data</a>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <input type="hidden" name="type" value="1">
                            <button type="submit">submit</button>
                        </form>
                    </td>
                    <td>
                        <a href="/resultFiles?title={{ item.projectTitle }}">Download Results</a>
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="hidden" name="id" value="{{ item.id }}">
                            <input type="hidden" name="type" value="2">
                            <button type="submit">submit</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
