{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h4 class="">Submit Proposal</h4>
    <form method="post">
        {% csrf_token %}

        {% for field in form %}

            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                <input class="form-control" id="{{ field.id_for_label }}" maxlength="30" name="{{ field.html_name }}"
                       placeholder="{{ field.label }}" type="{{ field.field.widget.input_type }}"/>
                {{ field.errors }}
            </div>

        {% endfor %}
        <button type="submit" class="btn btn-pill btn-wide btn-primary my-2">Submit</button>
    </form>
{% endblock %}
