{% extends 'base.html' %}

{% block content %}
    <div id="container">
        <h3>{{ project.projectTitle }}</h3>
        <h4>{{ project.projectDescription }}</h4>

        <hr>

        <h5>General files</h5>

        <a href="/generalFiles?title={{ project.projectTitle }}">Download General</a>
        <form method="POST" enctype="multipart/form-data" action="/submissions/">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="hidden" name="type" value="0">
            <button type="submit" class="btn btn-primary">submit</button>
        </form>

        <ul>
            {% for item in general %}
                <li>{{ item.file }}</li>
            {% endfor %}
        </ul>
        <hr>

        <a href="/dataFiles?title={{ item.projectTitle }}">Download Data</a>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="hidden" name="type" value="1">
            <button type="submit" class="btn btn-primary">submit</button>
        </form>

        <ul>
            {% for item in data %}
                <li>{{ item.file }}</li>
            {% endfor %}
        </ul>

        <hr>
        <a href="/resultFiles?title={{ item.projectTitle }}">Download Results</a>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="hidden" name="id" value="{{ item.id }}">
            <input type="hidden" name="type" value="2">
            <button type="submit" class="btn btn-primary">submit</button>
        </form>

        <ul>
            {% for item in result %}
                <li>{{ item.file }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}