{% extends 'base.html' %}
{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
    <body>
    <h1>Results Found</h1>
     {% if projects %}
    <table>
    <thead>
        <tr>
            <th>Title of project</th>
            <th>Author of project</th>
            <th>Project date</th>
            <th>Project Files</th>
            <th>Data Files</th>
            <th>Result files</th>
        </tr>
    </thead>
    <tbody>
    {% for each_project in projects %}
        <tr>
            <td>{{ each_project.projectTitle }}</td>
            <td>{{ each_project.projectAuthor }}</td>
            <td>{{ each_project.date }}</td>
            <td><a href="{{ each_project.proposalFile.url}}"><button type="button">Download Proposal</button></a></td>
            <td><a href="/dataFiles?title={{ each_project.projectTitle }}"><button type="button">Download Data</button></a></td>
            <td><a href="/resultFiles?title={{ each_project.projectTitle }}"><button type="button">Download Results</button></a></td>
        </tr>
             {% endfor %}
        </tbody>
    <!--<p></p>
    <p></p>
    <p></p>
    <p><a href = ""><button type="button">Project Files</button></a></p>
    <p><a href=""><button type="button">Data Files</button></a></p>
    <p><a href=""><button type="button">Result Files</button> </a></p>
    <hr/>-->
         {% else %}
        <p>Results not found given your search term</p>
    {% endif %}
    </table>
    </body>
{% endblock %}
